body{
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    color: #212121; 
}
.home , h1{
    text-align: center;
}
h1{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.button{
    height: 40px;
    width: 200px;
    margin: 10px;
    display: inline-block;
    background: #00acc1;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    transition: all 0.3s ease;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,188,212,0.3);
}
.button:hover {
    background-color: #00838f;  
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0, 188, 212, 0.4);
}