<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO {{username}}</h1>
    <h1><a href="{{url_for('login')}}">login</a></h1>
    <h1><a href="{{url_for('logout')}}">logout</a></h1>
    <h1><a href="{{url_for('signup')}}">signup</a></h1>
    <h1><a href="{{url_for('view_expense')}}">view_expenses</a></h1>
    <h1><a href="{{url_for('add_expense')}}">add_expenses</a></h1>
   
</body>
</html>